<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h1> MENU</h1>
<h4>
    <a href="menu/searchStudent">searchStudent</a>
    <a href="menu/addStudent">Add Student</a>
    <a href="menu/addStudentToCourse">Add Student To Course</a>
    <a href="menu/deleteStudent">Delete Student</a>
    <a href="menu/removeStudentFromCourse">Remove Student From Course</a>
    <a href="menu/searchGroups">Search Groups</a>
    <a href="menu/searchStudentsInCourse">Search Students In Course</a>
</h4>
</body>
</html>