<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h1> MENU</h1>
<div>
    <ul>
        <li>
            <a href="students/">All students</a>
        </li>
        <li>
            <a href="students/search">searchStudent</a>
        </li>
        <li>
            <a href="students/new">Add Student</a>
        </li>
        <li>
            <a href="students/addStudentToCourseForm">Add Student To Course</a>
        </li>
        <li>
            <a href="students/delete">Delete Student</a>
        </li>
        <li>
            <a href="students/removeStudentFromCourseForm">Remove Student From Course</a>
        </li>
        <li>
            <a href="students/searchGroupsForm">Search Groups</a>
        </li>
        <li>
            <a href="students/searchStudentsInCourseForm">Search Students In Course</a>
        </li>
    </ul>
</div>
</body>
</html>