<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h1> MENU</h1>
<br>
<h4><a href="searchStudent">searchStudent</a>
<br>
<br>
<a href="addStudent">addStudent</a>
<br>
<br>
<a href="addStudentToCourse">addStudentToCourse</a>
<br>
<br>
<a href="deleteStudent">deleteStudent</a>
<br>
<br>
<a href="removeStudentFromCourse">removeStudentFromCourse</a>
<br>
<br>
<a href="searchGroups">searchGroups</a>
<br>
<br>
<a href="searchStudentsInCourse">searchStudentsInCourse</a>
</h4>
</body>
</html>